{{> head }}

    
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Salvador Misle</h1>
        <p>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corporis nesciunt, possimus qui eos numquam. Velit fugit sunt quibusdam commodi aspernatur enim temporibus, sapiente magnam aut ipsa itaque, ratione eligendi.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/salvador_misle.jpg" class=img-thumbnail>

    </div>

</div>


{{> footer }}